
helloworld/.vs/helloworld/v17/DocumentLayout.json
helloworld/.vs/helloworld/FileContentIndex/35ce9927-9aca-4b5b-9c12-c090f37889c9.vsidx
helloworld/.vs/helloworld/v17/.suo
helloworld/helloworld.pyproj
helloworld/helloworld.sln
